.tabs{display:flex;gap:10px;margin-bottom:15px}.data-wrapper{display:flex;gap:50px}.current-date{font-weight:700}.info-header-wrapper{display:flex;gap:10px}.info-header-wrapper img{align-self:center}
